.edit-wrapper{
    padding: 20px 0px 20px 0px;
    text-align: center;
    background-color: white;
    // border-radius: 4px 4px 4px 4px;
    // // float: right;
    margin: 0 auto;
    width: 30%;
    .from-group{
        // background: red;
        // width: 500px;
        // padding: 20px;
        // text-align: center;
        margin: 0 auto;
        // label{
        //     float: left;
        //     margin: 5px;
        // }
        span{
            // float: right;
            margin: 20px;
        }
        #Rating{
            margin: 0 auto;
        }
        .save{
            // text-align:center;
            margin: 20px;
        }
    }
}